<div class="container">
    <form action="">
        <div id="wizard">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
                <div class="form-group text-centre">
                    <input type="text" class="form-control" [(ngModel)]="id">
                    <label for="">Please enter your ID Number</label>
                </div>
            </section>

            <!-- SECTION 2 -->
            <h4></h4>
            <section>
                <div class="form-group">
                    <video id="video" width="640" height="480" autoplay></video>
                    <label for="">Smile for the camera</label>
                </div>
            </section>

            <!-- SECTION 3 -->
            <h4></h4>
            <section>
                <div class="error">
                    <div class="error__content">
                        <h2>Welcome, Keketso</h2>
                        <h3>Click below to access your profile</h3>
                        <a class="btn btn-accent btn-pill mt-3" [routerLink]="['/admin']">Start &rarr;</a>
                    </div>
                    <!-- / .error_content no error -->
                </div>
            </section>
        </div>
    </form>
</div>
<script>
    var video = document.getElementById('video');
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }
</script>