<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Patients</span>
      <h3 class="page-title">My Patients</h3>
    </div>
  </div>
<!-- Default Light Table -->
<div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">My Patients</h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">#</th>
                <th scope="col" class="border-0">First Name</th>
                <th scope="col" class="border-0">Last Name</th>
                <th scope="col" class="border-0">City</th>
                <th scope="col" class="border-0">Phone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="detail-link" routerLink="/admin/patient/new">1</td>
                <td>Themba</td>
                <td>Zimo</td>
                <td>Thembisa</td>
                <td>107-0339</td>
                <td>
                    <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                      aria-expanded="false"></span>
                    <div class="dropdown-menu dropdown-menu-small">
                      <a class="dropdown-item" routerLink="/admin/patient/new">
                        <i class="material-icons dropdown-menu-item mr-1">edit</i> Edit
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="material-icons dropdown-menu-item mr-1">delete</i> Delete
                      </a>
                    </div>
                  </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jabu</td>
                <td>Mavimbela</td>
                <td>Kempton Park</td>
                <td>1-660-850-1647</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Itumeleng</td>
                <td>Ntshoe</td>
                <td>Midrand</td>
                <td>214-4225</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Tshepang</td>
                <td>Kganye</td>
                <td>Tembisa</td>
                <td>1-848-473-7416</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->