/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('../../assets/fonts/OptimusPrinceps.ttf') format('truetype');
}

@font-face {
  font-family: 'OptimusPrincepsSemiBold';
  src: url('../../assets/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
}



/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
  font-family: OptimusPrinceps;
}

h1, h2{
  color: #58585a;
}