<!-- Just an image -->
<nav class="navbar navbar-light transparent">
        <a class="navbar-brand bg-transparent" href="#">
          <img src="../../assets/img/icons/health-e.png" width="180" height="60" alt="">
        </a>
      </nav>
<div class="container">
    <div class="error">
        <div class="error__content"> 
          <h2>Hi!</h2>
          <h3>Welcome to your Health-e</h3>
          <p>Please click below to begin</p>
          <a class="btn btn-accent btn-pill mt-3" [routerLink]="['/login']">Start &rarr;</a>
        </div>
        <!-- / .error_content -->
      </div>
  </div>
